
.mantleBody{
    height: 100vh;
    overflow-y: hidden;

    
}
.app {
    .mantle{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0, .5);
        z-index: 1000;
        .contain{
            width: 100%;
            display: flex;
            overflow-x: scroll;
            overflow-y: hidden;
            position: absolute;
            top: 25%;
            left: 0;
            &::-webkit-scrollbar { 
                width: 0; height: 0; color: transparent; 
            }
            .left{
                width: 11.73rem;
                text-align: center;
                background-color: #fff;
                border-radius: 0.26rem;
                padding: 0.64rem;
                margin: 0 20px;
                img{
                    width: 50px;
                    height: 50px;
                }
                .title{
                    font-size: .77rem;
                    font-weight: 700;
                    white-space: normal;
                    text-align: center;
                    margin-left: 0.26rem;
                    margin-right: 0.21rem;
                    line-height:1.2373rem;
                    height: 1.2373rem;
                }
                .artical{
                    &::-webkit-scrollbar { 
                        width: 0; height: 0; color: transparent; 
                    }
                    height: 8.41rem;
                    overflow-y: auto;
                    padding: 0 0.34rem;
                    padding-bottom: 67px;
                    background-color: #fefefe;
                    font-size: .75rem;
                    text-align: justify;
                    text-indent: 2em;
                }
                .button{
                    display: flex;
                    padding-top: 0.85rem;
                    background-color: #fff;
                    align-items: center;
                    justify-content: center;
                    button{
                        width: 100%;
                        background-color: #0086f6;
                        font-size: .68rem;
                        color: #fff;
                        border-radius: 0.21rem;
                    }
                }
            }

        }
    }
    .headers {
        #header {
            height: 1.7067rem;
            background-image: linear-gradient(to left, #0076f5, #00a7fa);
            padding-left: 0.68rem;
            box-shadow: initial;
            transition: initial;

            .mui-title {
                color: #fff;

                .iconfont {
                    color: #fff;
                }
            }

            .dropdown-menu {
                width: 5.97rem;
                background-color: #fff;
                box-shadow: -1px 0 0.17rem rgba(14, 49, 82, .35);
                border-radius: 0.17rem;
                padding: 0.19rem 0.47rem;
                z-index: 19;
                font-size: .6rem;
                right: .3413rem;
                top: 1.5587rem;
                left: initial;

                &::before {
                    content: "";
                    position: absolute;
                    top: -0.32rem;
                    right: 0.3rem;
                    border-bottom: 0.32rem solid #e3e6e9;
                    border-left: 0.32rem solid transparent;
                    border-right: 0.32rem solid transparent;
                }

                li {
                    padding: 0.3rem 0;
                    line-height: 1.6;
                    border-bottom: 1px solid #e3e6e9;
                    color: #000;

                    a {
                        padding: 0;
                    }
                }
            }
        }

        .mui-bar {
            h1 {
                line-height: 1.7067rem;
                font-size: .73rem;
            }

            button {
                display: flex;
                align-items: center;
                line-height: 0;
                margin: 0;
                height: 100%;

                a {
                    display: flex;
                    align-items: center;

                    img {
                        width: 0.85rem;
                        height: 0.85rem;
                        vertical-align: middle;
                        margin-left: 1.07rem;
                    }

                    .iconfont {
                        font-size: 1.1rem;
                        color: #fff;
                    }
                }


            }

            .mui-icon {
                display: flex;
                align-items: center;
                margin: 0;
                padding: 0;
                height: 1.7067rem;
                font-size: 1.024rem;
            }

            .iconfont {
                color: #fff;
                font-size: .9387rem;
            }
        }

        .day-time {

            position: relative;
            overflow: scroll;
            background-image: linear-gradient(to left, #0076f5, #00a7fa);
            padding: 0 8px;

            &::-webkit-scrollbar {
                display: none;
            }

            ul {
                margin-top: 1.7067rem;
                height: 2.73rem;
                border: none;
                box-shadow: none;
                display: flex;
                width: auto;
                white-space: nowrap;

                .item {
                    font-size: .512rem;
                        padding: 0.17rem 0.43rem;
                        margin: 0 0.26rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    border-radius: 0.17rem;
                    position: relative;

                    &::before {
                        content: "";
                        width: 0.04rem;
                        height: 1.37rem;
                        background-color: #e4e4e4;
                        position: absolute;
                        right: -0.2133rem;
                        top: 0.43rem;
                    }

                    p {
                        flex: 1;
                        color: #fff;
                        line-height: 1.5;
                    }
                }
                .active{
                    background-color: #0076f5;
                }
            }

            
        }

        .tip {
            display: flex;
            padding: 0.53rem 0.68rem;
            background: #fff8f2;
            align-items: center;

            img {
                width: 0.55rem;
                height: 0.55rem;
                line-height: 1.5;
            }

            span {
                overflow: hidden;
                white-space: nowrap;
                margin-left: 0.51rem;
                color: #999;
                font-size: .512rem;
                line-height: 1.5;

                &:last-child {
                    width: 1.28rem;
                    margin-left: 0;
                }
            }

        }
        .info{
            margin-top: -2.688rem;
            display: flex;
            flex-direction: column;
            position: absolute;
            // left: 15.36rem;
            right: 0;
            background-color: #0076f5;
            justify-content: center;
            align-items: center;
            width: 2.35rem;
            height: 2.73rem;
            top: 4.3947rem;
            .iconfont{
                color: #fff;
            }
            img{
                width: 0.81rem;
                height: 2.3rem;
                position: absolute;
                right: 2.3552rem;
                // top: 1.7067rem;
            }
        }
    }
    a:link,
    a:visited,
    a:hover,
    a:active{
      text-decoration: none !important;
    }
    .artical {
        padding: 0 .34rem;
        padding-bottom: 67px;
        background-color: #eef1f6;
        
        .list {
            display: none;
            padding-top:0.34rem;;
            .item {
                &:nth-child(1){
                    margin-top: 0;
                }
                margin-top: 0.34rem;
                padding: 0.51rem;
                background-color: #fff;
                border-radius: 0.34rem;
                padding-top: 1rem;
                .header {
                    display: flex;
                    font-size: .85rem;
                    justify-content: space-between;

                    .left {
                        display: flex;
                        align-items: center;
                        min-width: 65%;
                        img {
                            width: 0.85rem;
                            height: 0.85rem;
                        }

                        .content {
                            display: flex;
                            margin-left: 0.34rem;
                            flex: 1;
                            justify-content: flex-start;
                            .start{
                                // text-align: center;
                                min-width: 2.47rem;
                            }
                            p{  
                                color: #333;
                                line-height: .64rem;
                                &:first-child{
                                    line-height: 1.02rem;
                                }
                                
                            }
                            .mid {
                                position: relative;
                                width: 2.2rem;
                                display: flex;
                                align-items: center;
                                margin: 0 0.68rem 0 0.034rem;
                                .con{
                                    width: 2.2rem;
                                    height: 0.17rem;
                                    position: relative;
                                    &::after{
                                        position: absolute;
                                        top: -0.09rem;
                                        right: -0.17rem;
                                        content: "";
                                        width: 0;
                                        height: 0;
                                        border: 0.13rem solid transparent;
                                        border-color: transparent transparent #ddd #ddd;
                                    }
                                  &::before {
                                    content: "";
                                    width: 2.2rem;
                                    height: 0.17rem;
                                    background-color: #dedee0;
                                    position: absolute;
                                }  
                                }
                                
                            }

                            .city {
                                font-size: .512rem;
                            }
                        }
                    }
                    .right{
                        color: #0086f6;
                        font-family: "SF Pro Display";
                        font-size: .85rem;
                        height: 1.02rem;
                        font-weight: 500;
                        letter-spacing: .02rem;
                        display: flex;
                        align-items: center;
                        span{
                            color: #0086f6;
                            font-family: "SF Pro Text";
                            font-size: .51rem;
                            font-weight: 500;
                        }
                        .money{
                        color: #0086f6;
                        font-family: "SF Pro Display";
                        font-size: .85rem;
                        font-weight: 500;
                        letter-spacing: .02rem;
                        }
                    }
                }
                .bottom{
                    color: #999;
                    padding: 0.34rem 0 0 1.19rem;
                    font-size: .51rem;
                    span{
                        font-size: .512rem;
                    }
                }
            }
        }
        .active{
            display: block;
        }
    }
    .fixed {
        ul{
            position: fixed;
            bottom: 0;
            width: 100%;
            box-shadow: 0 -0.11rem 0.3rem 0 rgba(0,0,0, .1);
            background-color: #fff;
            border-radius: 0.43rem 0.43rem 0 0;
            padding-bottom: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            .item{
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-top: 0.55rem;
                p{
                    font-size: .51rem;
                    line-height: 1.6;
                    color: #333;
                }
                span{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                }
                .iconfont{
                    font-size: .68rem;
                    height: 0.96rem;
                    color: #333;

                }
                .active{
                   color: #0086f6;
                    font-weight: 700;;
                }
            }
        }
        
    }
}