* {
  font-family: -apple-system-font, Helvetica Neue, sans-serif !important;
}

.apps {
  display: none;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.apps .mui-bar {
  height: initial;
  background-color: #fff;
  box-shadow: initial;
}

.apps .headers {
  height: 1.7067rem;
}

.apps .headers #header {
  height: 1.7067rem;
  background-color: #fff;
  box-shadow: initial;
  color: #000;
  display: flex;
  align-items: center;
}

.apps .headers #header .iconfont {
  margin-right: -0.4267rem;
  margin-left: -0.4267rem;
  padding-right: .4267rem;
  padding-left: .4267rem;
  font-size: 24px;
  color: #000;
  padding-top: .4267rem;
  padding-bottom: .4267rem;
}

.apps .headers #header h1 {
  font-size: .73rem;
}

.apps .serch-button {
  padding: 0.68rem;
  display: flex;
  align-items: center;
}

.apps .serch-button input {
  width: 100%;
  height: 1.71rem;
  background: #f8f8f8;
  font-size: .68rem;
  padding: 0 0.51rem;
  padding-left: .8rem;
  margin-bottom: 0;
  border: 1px solid #efefef;
  border-radius: 2.13rem;
}

.apps .tabs {
  margin-top: 3.0699rem;
}

.apps .tabs #myTabs {
  display: flex;
  height: 1.71rem;
  align-items: center;
  justify-content: center;
}

.apps .tabs #myTabs .active a {
  color: #0086f6;
  font-weight: 500;
  border-radius: 0.04rem;
}

.apps .tabs #myTabs li {
  height: 1.71rem;
  flex: 1;
  display: flex;
  padding: 0.45rem 0 0.21rem;
  justify-content: center;
  border: none;
}

.apps .tabs #myTabs li a {
  border: none;
  padding: 0;
  font-size: .64rem;
  color: #666;
}

.apps .tabs #myTabContent {
  overflow: hidden;
  padding-top: 1.7067rem;
}

.apps .tabs #myTabContent #profiles .tab-city {
  display: flex;
}

.apps .tabs #myTabContent #profiles .tab-city .left {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 1px;
  border-right: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
  width: 3.2853rem;
  overflow-y: hidden;
}

.apps .tabs #myTabContent #profiles .tab-city .left .item {
  background-color: #f8f8f8;
  font-weight: 500;
  border-bottom: 1px solid #e4e4e4;
  height: 2.05rem;
  font-size: .64rem;
  color: #666;
  width: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.apps .tabs #myTabContent #profiles .tab-city .left .active {
  color: #0086f6;
  background-color: #fff;
}

.apps .tabs #myTabContent #profiles .tab-city .right {
  overflow: auto;
  position: relative;
  width: 80%;
  left: 3.2853rem;
  right: -100%;
}

.apps .tabs #myTabContent #profiles .tab-city .right .info {
  display: flex;
  flex-direction: column;
  display: none;
}

.apps .tabs #myTabContent #profiles .tab-city .right .info .title {
  margin-bottom: 0.51rem;
  padding: 0.21rem 0.68rem;
  background-color: #f8f8f8;
  font-size: .47rem;
  color: #999;
}

.apps .tabs #myTabContent #profiles .tab-city .right .info .citys {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 0.17rem;
}

.apps .tabs #myTabContent #profiles .tab-city .right .info .citys .city-items {
  margin: 0 0.17rem 0.38rem;
  padding-top: 0.34rem;
  padding-bottom: 0.34rem;
  font-size: .64rem;
  color: #333;
  border: 0.04rem solid #efefef;
  border-radius: 0.17rem;
  flex: 0 0 47%;
  line-height: 1.6;
  height: 2.688rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.apps .tabs #myTabContent #profiles .tab-city .right .info .citys .item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 30%;
  height: 2.3053rem;
  margin: 0 0.17rem 0.38rem;
  padding-top: 0.34rem;
  padding-bottom: 0.34rem;
  font-size: .64rem;
  color: #333;
  border: 0.04rem solid #efefef;
  border-radius: 0.17rem;
  position: relative;
}

.apps .tabs #myTabContent #profiles .tab-city .right .info .citys .item .tag {
  position: absolute;
  top: -0.26rem;
  left: 0;
  background-image: linear-gradient(90deg, #00b780, #04c0c2);
  font-size: .34rem;
  color: #fff;
  border-radius: 0.09rem;
  border-bottom-left-radius: 0;
  padding: 0.09rem;
  line-height: 1.6;
}

.apps .tabs #myTabContent #profiles .tab-city .right .info .citys .items {
  flex: 0 0 13%;
  margin: 0 0.17rem 0.34rem;
  height: 1.54rem;
  font-size: .64rem;
  color: #333;
  border: 0.04rem solid #efefef;
  border-radius: 0.17rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.apps .tabs #myTabContent #profiles .tab-city .right .info .citys .city-item {
  flex: 0 0 47%;
  position: relative;
  margin: 0 0.17rem 0.38rem;
  padding-top: 0.34rem;
  padding-bottom: 0.34rem;
  font-size: .64rem;
  color: #333;
  border: 0.04rem solid #efefef;
  border-radius: 0.17rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apps .tabs #myTabContent #profiles .tab-city .right .info .citys .city-item p {
  color: #333;
}

.apps .tabs #myTabContent #profiles .tab-city .right .info .citys .city-item .posi {
  line-height: 1.6;
}

.apps .tabs #myTabContent #profiles .tab-city .right .info .citys .city-item .country {
  height: 0.68rem;
  line-height: .68rem;
  font-size: .43rem;
  color: #999;
}

.apps .tabs #myTabContent #profiles .tab-city .right .active {
  display: flex;
}

.apps .tabs #myTabContent .allcity .top {
  margin-bottom: 0.51rem;
  padding: 0.21rem 0.68rem;
  background-color: #f8f8f8;
  font-size: .47rem;
  line-height: 1.6;
  color: #999;
}

.apps .tabs #myTabContent .allcity .top h3 {
  font-size: .47rem;
}

.apps .tabs #myTabContent .allcity .city-list {
  background-color: #fff;
  margin-left: 0.17rem;
  display: flex;
  flex-wrap: wrap;
}

.apps .tabs #myTabContent .allcity .city-list .activess {
  color: #0086f6 !important;
  border-color: #0086f6 !important;
}

.apps .tabs #myTabContent .allcity .city-list .item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 30%;
  margin: 0 0.17rem 0.38rem;
  height: 1.54rem;
  font-size: .64rem;
  color: #333;
  border: 0.04rem solid #efefef;
  border-radius: 0.17rem;
}

.apps .tabs #myTabContent .letter .city-list .item {
  flex: 0 0 11.5%;
}

.apps .tabs #myTabContent .letter .city-list .item a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 1.71rem;
  width: 100%;
  color: #333;
}
